.container {
padding: 16px;
margin-top: 43px;
width: 500px;
background-color: white;
opacity: 95%
}

.container i{
  float: right;
  margin-left: 300px;
  margin-top: -39px;
  position: absolute;
  cursor: pointer;
}

.backgroundIMG {
  background-image: url("Imgs/registerBackground.jpg"); /* The image used */
  background-color: #003087; /* Used if the image is unavailable */
  position: absolute;
   top: 0;
   left: 0;
   /* Preserve aspet ratio */
   min-width: 100%;
   min-height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}
